body {
  padding-bottom: 30px;
  width: 100%;
    margin:0 auto;
    display: block;

}  

 
header {
  height:650px;
   background: url("../images/bg.jpg") center;
  background-size: cover;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 10px;

}



.navbar-inverse .navbar-brand {
    color: #fed136;
    font-family:'Lobster', cursive;
    font-size: 3em
}

.navbar-inverse .nav li a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}


.navbar-inverse .nav li a:hover, .navbar-inverse .nav li a:focus {
    color: #fed136;
    outline: 0;
}


.navbar-inverse .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-inverse .navbar-toggle {
  background-color:#fed136;
  border-color: #fed136;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #fed136;
}





@media (min-width:768px) and (max-width:1800px) {

  nav.navbar{
  background-color:transparent;
  border: none;
   //Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

nav.navbar.shrink {
  min-height: 15px;
background-color: #222;
height: 65px;
}


}
 




@media (max-width: 767px){

  nav.navbar {
    background-color: #222;
  }

}



/** CSS FOR WELCOME NOTE **/

.intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    padding-top: 270px;
    margin-bottom: 10px;
}


.scroll-down {
    padding-top: 242px;
    text-align: center;

}


.scroll-down .btn {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100% !important;
    line-height: 50px;
    padding: 0;
    letter-spacing: normal;
    color: white;
    font-size: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

 

/** CSS FOR ABOUT US **/

.our-works {
  padding-top: 120px;
}


.colored-line-description {
    background: rgba(255,162,0,1.00);
    /* margin: auto;*/ 
    height: 2px;
    width: 210px;
    display: block;
    margin-bottom: 5px;
}


.colored-line-details {
    background: rgba(255,162,0,1.00);
    /* margin: auto;*/ 
    height: 2px;
    width: 160px;
    display: block;
    margin-bottom: 5px;
}







